$color_1: #7a60ce;
$color_2: #2d1f5d;
$color_3: #c2cff6;
$color_4: #a995e9;
$text-color: #ffffff;
$error-color: red;
$font-family: "Delius";
$border-radius: 50px;
$font-size: 18px;
$transition: background-color 0.3s ease;